$breakpoints: (
	small: 36em,
	medium: 48em,
	large: 62em,
);

$colors: (
	primary: (
		300: hsl(240 18% 77%),
		600: hsl(240 38% 20%),
	),
);

$font-sizes: (
	small: (
		400: 1.6rem,
		600: 1.8rem,
	),
	medium: (
		400: 2rem,
		600: 3.2rem,
	),
);

$font-weights: (
	300: 300,
	500: 500,
	700: 700,
);

$border-radius: (
	200: 0.4rem,
	900: 100vmax,
);
